/* * {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #0a3e66;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin: auto;
}

.ctr-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

input {
  width: 34.4vw;
  height: 45px;

  background: #ffffff;

  border: 1px solid rgba(33, 33, 33, 0.52);
  box-sizing: border-box;
  border-radius: 4px;
}

.mb-1 p {
  color: #f05b5b;
}

.container img {
  display: block;
  margin: auto;
}

.container h4 {
  text-align: center;
} */
