.navbar {
    .container {
        max-width: 450px;
    }

    .nav-link {
        color: #4986CB !important;
        font-size: 18px;
        margin: 0.4rem 0;
    }

    .navbar-brand {
        img {
            width: 2.188rem;
        }

        p {
            font-weight: 600;
        }
    }

    .btn-primary{
        background-color: #0A508D;
        box-shadow: none;
    }

    .navbar-toggler {
        border: none !important;
        border-radius: 0;
        padding: 0;

        &:focus {
            box-shadow: none;
        }
    }

    .btn-close {
        padding: 1rem;
    }
}