body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-wrapper{
  max-width: 480px;
  background-color: white;
  min-height: 100vh;
}
.btn-primary{
  background-color: #0A3E66 !important;
  border-color: #0A3E66;
  color: white;
}

.text-page-title{
  font-weight: 400;
}