.cara-vaksinasi {
    background: white;
    color: #4986CB;

    h1 {
        font-size: 30px;
        font-weight: 500;
    }

    span.material-icons-outlined {
        color: #5caf08 !important;
    }
}