.text-status {
  font-weight: 500;
  border-radius: 5px;
  padding: 0.3rem 0.53rem;
  font-size: 12px;
  float: right;
}

.st-done {
  color: rgb(0, 110, 0);
  background-color: rgb(114, 204, 114);
}
.st-waiting {
  color: rgb(255, 123, 0);
  background-color: rgb(255, 225, 93);
}

.st-cancel {
  color: rgb(190, 33, 33);
  background-color: rgb(255, 98, 119);
}
.text-reservasi {
  color: #0a508d;
  font-weight: 600;
}
.text-hist-loc {
  font-weight: 400;
  color: #072d4a;
  font-size: 16px;
}

.text-hist-detail {
  font-weight: 300;
  color: gray;
  font-size: 14px;
}

.text-hist-detail tr td {
  padding: 0;
}

.card-hist-wrapper {
  border-radius: 0.8rem;
}

.text-hist-name {
  color: #031625;
}
